In [0]:
import sqlite3

In [0]:
conn = sqlite3.connect('hospitals.db')
cursor = conn.cursor()

In [32]:
cursor.execute ("""CREATE TABLE "area_hospitals"
("Hospital Name" "varchar",
 "facility Id" "number(6)",
 "zip_code" "number(5)",
 "dig 1" "number(3)",
 "dig 2" "number(3)",
 "dig 3" "number(3)",
 "dig 4" "number(3)");""")

cursor.fetchall()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

OperationalError: ignored

In [31]:
cursor.execute( update "area_hospitals" set "facility Id" "number(6)");
cursor.fetchall()

SyntaxError: ignored

In [29]:
cursor.execute ("""insert into "area_hositals"
(Hospital Name, facility Id, zip_code, dig 1, dig 2, dig 3, dig 4)
values('NewYork-Presbyterian/Lawrence Hospital', '001122', '10605', '218', '127', '2', '123', '193')
('Montefiore New Rochelle Hospital','001072', '10801', '218', '69', '49', '14', '99')
('St Johns Riverside Hospital', '001097', '10701', '2018', '2', '99', '127', '106');""")
cursor.fetchall()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 84))

OperationalError: ignored